@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@custom-variant dark (&:where(.dark, .dark *));
/* Global theme colors */
@theme {
  --color-primary: #149ddd;
  --color-primary-dark: #0f7fb5;
  --color-heading: #173b6c;
  --color-body: #272829;
  --color-section: #f4fafd;
}



/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Better scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #061206;
}

::-webkit-scrollbar-thumb {
  background: #0891b2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}


/* Smooth card animation */
.skill-card {
  transition: all 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-8px);
}

/* Badge animation */
.skill-badge {
  transition: all 0.3s ease;
}

.skill-badge:hover {
  transform: scale(1.05);
}